<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head',{}); %>
    <title>Document</title>
    <style>
        .layui-01{
            margin-top: 20px
        }
        .layui-02{
            margin-top: 20px;
        }
        .layui-btn{
            background-color: #1E9FFF;
        }
        .layui-btn-container{
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <%- include('header',{userName}); %>
    <div class="layui-container">
        <div class="layui-row">
            <form action="/article/cdd" method="POST">
                <input type="hidden" name="dId" value="<%=dataa._id%>">
                <input type="hidden" name="page" value="<%=dataa.page%>">
            <div class="layui-01">
                <input type="text" name="titletxt" value="<%= dataa.titletxt%>" placeholder="请输入文章标题" class="layui-input">
            </div>
            <div class="layui-02">
                <textarea name="content" placeholder="请输入内容" class="layui-textarea" id="editor">
                    <%- dataa.content %>
                </textarea>
              </div>
              <div class="layui-btn-container">
                  <%if(!dataa._id){%>
                <button type="submit" class="layui-btn">发布</button>
                <%}else{%>
                <button type="submit" class="layui-btn">确认修改</button>
                <%}%>
                </div>
            </form>
        </div>
    </div>

    <script src="/libs/ckeditor5-build-classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ), {
                ckfinder: {
                    uploadUrl: '/article/upload'
                }
            })
            .catch(error => {
                console.error(error);
            })
    </script>
</body>
</html>