<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head',{}); %>
        <title>Document</title>
</head>
<body>
    <%- include('header',{userName}); %>
    <div class="layui-container">
        <div class="layui-row">
            <table class="layui-table" lay-even lay-skin="nob">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>昵称</th>
                        <th>加入时间</th>
                        <th>签名</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.blogList.map(item=>{ %>
                    <tr>
                        <td><a href="/details?_id=<%= item._id %>"><%= item.titletxt %></a></td>
                        <td><a href="/details"><%= item.time %></a></td>
                        <td><a href="/details"><%- item.content %></a></td>
                        <td>
                            <a href="/add?_id=<%= item._id %>&page=<%= data.currPage %>">
                                <i class="layui-icon layui-icon-edit" style="font-size: 25px;"></i>  
                            </a>
                            <a href="/article/delete?_id=<%= item._id %>&page=<%= data.currPage %>">
                                <i class="layui-icon layui-icon-delete" style="font-size: 25px;"></i>
                            </a>
                        </td> 
                    </tr>
                    <% })%>
                   
                </tbody>
            </table>
            <div>
                <% for(let i = 1;i <=data.PagesTotle;i++){ %>
                    <a href="/home?page=<%=i%>" class="<%- data.currPage==i?'active':'' %>">
                        <%= i %>
                    </a>
                    <% } %>
            </div>
        </div>
    </div>
</body>
</html>